.triangulo-der
  padding: 2rem
  position: relative
  &::after
    content: ""
    position: absolute
    display: block
    z-index: 2
    right: 0%
    top: 50%
    bottom: 0%
    transform: translateX(100%) translateY(-50%)
    width: 0%
    height: 0%
    border-left: 50px solid #3E2EA6
    border-top: 40px solid transparent
    border-bottom: 40px solid transparent

.triangulo-izq
  padding: 2rem
  position: relative
  &::after
    content: ""
    position: absolute
    display: block
    z-index: 2
    left: 0%
    top: 50%
    bottom: 0%
    transform: translateX(-100%) translateY(-50%)
    width: 0%
    height: 0%
    border-right: 50px solid #8A7CBF
    border-top: 40px solid transparent
    border-bottom: 40px solid transparent

.triangulo-der2
  padding: 2rem
  position: relative
  &::after
    content: ""
    position: absolute
    display: block
    z-index: 2
    right: 0%
    top: 50%
    bottom: 0%
    transform: translateX(100%) translateY(-50%)
    width: 0%
    height: 0%
    border-left: 50px solid #FCECDF
    border-top: 40px solid transparent
    border-bottom: 40px solid transparent

.body-cajon
  display: block
  background-color: #0F0140
  position: relative
  margin-left: 50px
  padding: 20px
  padding-left: 60px
  white-space: normal
  text-align: left
  border-radius: 50px
  .body-img
    width: 89px
    position: absolute
    display: block
    left: 0%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
  .body-text
    color: #fff

.tarjeta-avatar
  padding-top: 30px
.tarjeta-avatar .tarjeta
  width: 100%
  padding-top: 0px !important

.bloque-texto-g.color-secundario
  background-color: white

.bloque-texto-g
  justify-content: flex-end

.bloque-texto-g__img
  left: 0%
  width: 60%
  background-image: url('../assets/curso/tema1/img4.png')
  background-repeat: no-repeat
  background-position: center

.bloque-texto-g__texto
  width: 60%
  //476px opcion 2
  background-color: #FEFAF7
  filter: drop-shadow(2px 4px 6px grey)
  text-align: start
  border-top-right-radius: 20px
  border-bottom-left-radius: 20px

/////----cajon tema2----inicio////
.bloque-cajon
  position: relative
  display: flex
  justify-content: center
  padding-left: 3rem
  padding-right: 3rem
  padding-top: 6rem
  padding-bottom: 5rem

.bloque-cajon__img
  position: absolute
  width: 100%
  top: 0
  left: 0
  bottom: 0
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.bloque-cajon__texto
  top: 0
  bottom: 0
  transform: translateX(0) translateY(130%)
  position: relative
  width: 90%
  background-color: #ffff
  filter: drop-shadow(2px 4px 6px grey)
  text-align: center
  border-top-right-radius: 20px
  border-bottom-left-radius: 20px
/////----end cajon tema2 inicio------////

.tarjeta--morada
  background-image: url('../assets/curso/tema1/acordion-fondo1.svg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
.tarjeta--clara
  background-color: #FCECDF
  padding-right: 0 !important
.tarjeta--arco
  background-image: url('../assets/curso/tema2/acordion-fondo.svg')
  background-position: right bottom
  background-repeat: no-repeat

.fondo1
  background: url('../assets/curso/tema2/fondo1.svg')
  background-position: bottom
  background-size: auto
  background-repeat: no-repeat
  margin-inline: -3.4rem
.fondo2
  background: url('../assets/curso/tema2/fondo2.svg')
  background-position: left center
  background-size: auto
  background-repeat: no-repeat
.fondo-color
  background: url('../assets/curso/tema3/fondo-color.svg')
  background-position: center top
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
.fondo-color5
  background-color: #F5F4FD
  margin-inline: -3.4rem

.fondo5
  background: url('../assets/curso/tema5/fondo5.svg')
  background-position: center
  background-size: auto
  background-repeat: no-repeat
  margin-inline: -3.4rem

.acordion__contenido__item
  padding-bottom: 0 !important

.cajon.color-acento-contenido
  background-color: #FCECDF
.tarjeta--slider
  background: url('../assets/curso/tema3/fondo-slider.svg')
  background-position: center
  background-size: auto
  background-repeat: no-repeat

.fondo-slider2
  background: url('../assets/curso/tema8/fondo-slider8.svg')
  background-position: center
  background-size: auto
  background-repeat: no-repeat


.slyder-a__bullets
  bottom: -20px
.slyder-a__btn--sigt
  opacity: 0.4
  right: -20px
.slyder-a__btn--atrs
  opacity: 0.4
  left: -20px

.tarjeta--boton
  background-color: #DAD6F7
.tarjeta--boton.color-primario:hover
  //background-color: #1d8b22
  transform: scale(1.1)

button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus
  background-color: #1b526948

.fondo-slidert4
  margin-inline: -3.4rem
  //background-color:#0F0140
.tabs-c.color-primario .tabs-c__tab--active
  font-weight: bold

.tabs-c
  border: 0
.tabs-c__header
  margin-bottom: 0
.tabs-c__content-item
  background-color: #FFFBF8

.slideInLeft
  -webkit-animation-name: slideInLeft
  animation-name: slideInLeft
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both
@-webkit-keyframes slideInLeft
  0%
  -webkit-transform: translateX(-100%)
  transform: translateX(-100%)
  visibility: visible

  100%
  -webkit-transform: translateX(0)
  transform: translateX(0)

@keyframes slideInLeft
  0%
    -webkit-transform: translateX(-100%)
    transform: translateX(-100%)
    visibility: visible

  100%
    -webkit-transform: translateX(0)
    transform: translateX(0)

.bg-cajon
  background-image: url(../assets/curso/tema4/bg-cajon.svg)
  background-repeat: no-repeat
  background-size: auto
  background-position: center

.margin-bloque-cajon
  margin-bottom: 7rem

.tarjeta.color-acento-contenido
  background-color: #FCECDF

.fondo-recuadro
  background-image: url('../assets/curso/tema6/fondo-recuadro.png')
  background-position: center
  background-size: auto
  background-repeat: no-repeat
  justify-content: start
  padding: 2rem

.contenedor-total
  position: relative
  width: 100%
  background-image: url('../assets/curso/tema7/fondo-color7.svg')
  background-position: bottom
  background-size: cover
  background-repeat: no-repeat
  padding-bottom: 12rem
.contenedor-imagen
.contenedor-text
  position: absolute
  bottom: 0%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  width: 90%
  height: 35%
  background-color: #ffff
  filter: drop-shadow(2px 4px 6px grey)
  padding: 2rem
  display: inline-block
  align-items: center
  justify-content: center
  border-top-right-radius: 20px
  border-bottom-left-radius: 20px

.bloque-texto-b.color-secundario:before 
  background-color: #0f014000

.fondo-cajon8
  background-image: url('../assets/curso/tema8/fondo-cajon8.svg')
  background-position: center
  background-size: auto
  background-repeat: no-repeat
  

@media screen and ( max-width: 992px)
  .fondo-intro, .fondo-cajon8
    justify-content: center
    background-size: cover
  .triangulo-der
    padding-left: 2rem
    &::after
      padding: 0
      right: 50%
      top: 0
      bottom: 0%
      transform: translateX(50%) translateY(-50%)
      top: calc(100% + 20px)
      width: 0
      height: 0
      border-left: 50px solid transparent
      border-right: 50px solid transparent
      border-top: 40px solid #3E2EA6
      border-bottom: 0

  .triangulo-izq
    padding-left: 2rem
    position: relative
    &::after
      padding: 0
      left: 50%
      right: 0
      bottom: 0
      top: 0
      transform: translateX(-49%) translateY(-100%)
      width: 0
      height: 0
      border-left: 50px solid transparent
      border-right: 50px solid transparent
      border-bottom: 40px solid #8A7CBF
      border-top: 0

  .triangulo-der2
    padding-left: 2rem
    &::after
      padding: 0
      right: 50%
      top: 0
      bottom: 0%
      transform: translateX(50%) translateY(-50%)
      top: calc(100% + 20px)
      width: 0
      height: 0
      border-left: 50px solid transparent
      border-right: 50px solid transparent
      border-top: 40px solid #FCECDF
      border-bottom: 0

  .bloque-texto-g__texto
    width: auto
  .bloque-texto-g__img
    width: 100%
    left: 0
  .fondo1, .fondo2, .fondo5, .fondo-color5
    margin-inline: -1.4rem
  .fondo-color
    background-size: cover
    margin-inline: -1.4rem

  .bloque-cajon
    padding-top: 40% !important
    padding-left: 3rem
    padding-right: 3rem
    padding-bottom: 3rem
  .bloque-cajon__img
    background-size: cover

  .bloque-cajon__texto
    width: 100%
    top: 0%
    bottom: 0
    transform: translateX(0) translateY(0%)

  .margin-bloque-cajon
    margin-bottom: 0rem

  .tarjeta--slider, .tarjeta--slider2
    background-size: cover

  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    top: 102% !important
  .tarjeta--boton.color-primario:hover
    transform: scale(1.1)

  .fondo-slidert4
    margin-inline: -1.4rem
  .bg-cajon
    background-size: cover
    text-align: cente

  .contenedor-total
    padding-bottom: 4rem
  .contenedor-text
    position: relative
    bottom: 0%
    left: 50%
    transform: translateX(-50%) translateY(0%)
    width: 90%
    height: auto
    background-color: #ffff
    filter: drop-shadow(2px 4px 6px grey)
    padding: 2rem
    display: inline-block
    align-items: center
    text-align: center
    justify-content: center
    border-top-right-radius: 20px
    border-bottom-left-radius: 20px







@media screen and ( min-width: 992px)
  .color-row
    background-color: #DAD6F7
